/* resets, tipografia, variáveis */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

:root {

  /*COLORS*/
    --primary-color: #ED145B;
    --secondary-color: #91A3AD;
    --gray: #374151;
    --black: #1F1F1F;
    --white: #FFF;


  /*FONTS*/

    --ff: "Montserrat", sans-serif;

    --logo-span-mb: 700 1.5rem var(--ff);
    --logo-text-mb: 400 1.5rem var(--ff);

    --logo-span-tb: 700 1.75rem var(--ff);
    --logo-text-tb: 400 1.75rem var(--ff);

    --logo-span-dk: 700 2rem var(--ff);
    --logo-text-dk: 400 2rem var(--ff);

    --text-xs-mb: 400 0.75rem var(--ff);
    --text-sm-mb: 400 0.875rem var(--ff);
    --text-base-mb: 400 1rem var(--ff);
    --text-lg-mb: 400 1.125rem var(--ff);
    --text-xl-mb: 400 1.25rem var(--ff);
    --text-2xl-mb: 400 1.75rem var(--ff);
    --text-3xl-mb: 400 1.875rem var(--ff);
    --text-4xl-mb: 400 2.25rem var(--ff);

    --title-xs-mb: 500 0.75rem var(--ff);
    --title-sm-mb: 500 0.875rem var(--ff);
    --title-base-mb: 600 1rem var(--ff);
    --title-lg-mb: 600 1.5rem var(--ff);
    --title-xl-mb: 700 2rem var(--ff);
    --title-2xl-mb: 700 2.5rem var(--ff);
    --title-3xl-mb: 700 3rem var(--ff);

    --text-xs-tb: 400 1rem var(--ff);
    --text-sm-tb: 400 1.25rem var(--ff);
    --text-base-tb: 400 1.5rem var(--ff);
    --text-lg-tb: 400 1.75rem var(--ff);
    --text-xl-tb: 400 2rem var(--ff);
    --text-2xl-tb: 400 2.5rem var(--ff);
    --text-3xl-tb: 400 3rem var(--ff);
    --text-4xl-tb: 400 3.5rem var(--ff);

    --title-xs-tb: 500 1.5rem var(--ff);
    --title-sm-tb: 500 2rem var(--ff);
    --title-base-tb: 600 2.5rem var(--ff);
    --title-lg-tb: 600 3rem var(--ff);
    --title-xl-tb: 700 3.5rem var(--ff);
    --title-2xl-tb: 700 4rem var(--ff);


      --text-xl-dk: 400 2rem var(--ff);
  /*SPACING*/
  --pd-base-mb: 4rem 2rem;
  --pd-sm-mb: 2rem 1rem;

  --pd-base-tb: 6rem 4rem;
  --pd-sm-tb: 3rem 2rem;

  --pd-sm-dk: 2rem 1.5rem;
  --pd-base-dk: 6rem 8rem;

  --shadow: 10px 4px 10px rgba(0, 0, 0, 50%)

}
